@import url(../plugins/vegas/vegas.css);

*{
  margin: 0;
  padding: 0;
}

body{
  font-family: 'tahoma';
  overflow-x: hidden;
  overflow-y: scroll;
}

.row{
  max-width: 1140px;
  margin: 0 auto;
}

.hero{
  position: absolute;
  width: 1140px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header{
  background-image:linear-gradient(rgba(0, 0, 0, 0.2),rgba(0,0,0,0.2)), url(gunung.jpg);
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  min-height: 640px;
}

.hero-text{
  color: white;
  text-transform: uppercase;
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 18px;
}

.header img{
  background: none;
 margin-bottom: 40px;
 padding-top:  100px;
}

.header-buttons{
  color: white;
}

.header-buttons a{
  border: 2px solid rgba(198, 117, 23, 0.83);
  padding: 10px 30px;
  margin-right: 6px;
  color: white;
  font-weight: bold;
}

.header-buttons a.btn-full{
  background-color:  rgba(198, 117, 23, 0.83);
  color: white;
  font-size: 17px;
}

.header-buttons a.btn-full:hover{
  background-color: transparent;
  transition: all 0.5s ease-in;
}

.copy{
  width:100%;
  margin-left: 10%;
  margin-bottom: 20px;
}

.copy::after{
  width: 100px;
  height: 2px;
  display: block;
  background-color:  rgba(198, 117, 23, 0.83);
  content: "";
  margin-left: 13% auto;
  margin-top: 15px;
}

.features h3{
  margin-top: 30px;
  margin-bottom: 30px;
}

.arranging{
  text-align: justify;
  text-indent: 10px;
}

.features span{
  font-size: 40px;
  color: rgba(198, 117, 23, 0.83);
  margin-left: 10%;
}
nl
.features h4{
  margin-left: 40px;
}

.footer{
  background-color: black;
  padding-top: 30px;
  padding-bottom: 30px;
  color: white;
}

.glyphicon-chevron-up{
  background-color: rgba(198, 117, 23, 0.83);
  width: 60px;
  height: 40px;
  text-align: center;
  margin-top: -20px;
  border-radius: 20px;
  float: right;
}

.footer .glyphicon-chevron-up{
    font-size: 30px;
    color: white;
}

.header img{
  margin-top: 1px;
}

.navbar-fixed{
  position: static;
}

.navbar-custom{
  background: black;
}

.icon-bar{
  background: lightgray;
}

.navbar-custom .navbar-nav li a:hover{
  background: transparent;
}

.navbar-brand{
  color: white;
}

.navbar-custom .navbar-nav li a{
  color: white;
  font-size: 18px;
  font-weight: 700;
}

.navbar-custom .navbar-nav li a:hover{
  color: rgba(198, 117, 23, 0.83);
  border-bottom: 2px solid rgba(198, 117, 23, 0.83);
  transition: all 0.5s ease-in;
  padding:  15px 0;
}

.navbar-brand:hover{
  color: white;
}

.navbar-brand:visited{
  color: white;
}

article#main-col{
  float:left;
  width:65%;
}

.gambarkonten{
  float: left;
  width: 150px;
  height: 105px;
  padding-right: 5px;
}

.dark{
  padding:15px;
  background:#35424a;
  color:#ffffff;
  margin-top:10px;
  margin-bottom:10px;
}

aside#sidebar{
  float:right;
  width:30%;
  margin-top:10px;
}

.about{
  background: lightgray;
}

@media (max-width: 768px) {
  article#main-col,
  aside#sidebar{
    float:none;
    text-align:center;
    width:100%;
}

.glyphicon-chevron-up{
    margin-top: -40px;
}}

.contact{
  padding: 50px 0px 80px;
  text-align: center;
}

.contact p{
  padding-bottom: 35px;
  color: #737373;
}

.contact h2{
  color: #4c4c4c;
  margin: 20px 0 20px;
}

.contact .input-group{
  margin-bottom: 25px;
}

.contact .form-control{
  border-radius: 0 !important;
}

.contact .span{
  border-radius: 0 !important;
}

.contact .btn{
  border-radius: 0;
  width: 100%;
  font-size: 17px;
  background-color: rgba(198, 117, 23, 0.83);
  color: #fff;
}

.contact .btn:hover{
  color: #fff !important;
  background-color: rgba(36, 203, 123, 0.8) !important;
}

.selengkapnya{
  margin-bottom: 50px;
  font-size: 16.5px;
  font-weight: bold;
  font-family: tahoma;
}

.tab{
  background: white;
  margin-bottom: 20px;
  width: auto;
}

.tab a{
  color:  rgba(198, 117, 23, 0.83);
  font-size: 14px;
  font-weight: bold;
}

.tab-pane{
  margin-bottom: 20px;
}

.nav-tabs li a:hover{
  border: 2px solid lightgray;
  transition: all 0.9s ease-in;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus,
 .nav-tabs>li.active>a:hover{
  background: rgba(198, 117, 23, 0.83);
  color: white;
}
