

body{
  font-family: 'tahoma';
  overflow-x: hidden;
  overflow-y: scroll;
}

.row{
  max-width: 1140px;
  margin: 0 auto;
}

.hero{
  position: absolute;
  width: 1140px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero-text{
  color: white;
  text-transform: uppercase;
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 18px;
}

.copy{
  width:70%;
  margin-left: 15%;
  margin-bottom: 20px;
}


.judulberita{
  font-size: 32px;
  line-height: 36px;
}


.info{
  margin-bottom: 16px;
  float: left;
  display: inline;
  margin-right: 2px;
  margin-bottom: 20px;
  width: 100%;
}

.author{
  display: inline;
  margin-top: 1px;
  margin-bottom: 2px;
}

.author p{
  font-size: 11px;
  margin-top: 1px;
}

.textterbit{
  font-size: 11px;
  display: inline;
}

.thumbnail1{
  border: 0px;
  border-bottom: 0px;
}

.thumbnail1 img{
  margin-top: 1px;
  width: 100%;
  height: 300px;
  float: left;
  position: center;
  margin-bottom: 30px;
}

.deskripsigambar{
  font-family: sans-serif;
  font-size: 13px;
  font-style: italic;
  float: left;
  margin-top: -20px;
}

.thumbnail2{
  border: 0px;
}

.thumbnail2> a img{
    position: relative;
}

.thumbnail2 p{
  font-size: 11px;
  font-weight: 700;
  line-height: 20px;
}

.tab-content{
  margin-bottom: 75px;
}

.pager{
  float: left;
  margin-left: 20px;
  margin-top: -20px;
}

.pager li{
  font-size: 15px;
  font-weight: bold;
  background-color: white;
}

.pager li a{
  border: 1px solid rgba(151, 159, 156, 0.9);
  border-radius: 0px;
  padding: 4px 7px;
}

.pager li a:hover{
  background: lightgray;
}

.plugin{
  width: 100%;
  position: relative;
}

.plugin-title{
  font-size: 15px;
  padding :4px 12px;
  margin-top: 4px;
  text-align: center;
  color: rgba(94, 157, 24, 0.75);
  font-weight: bold;
}

.emo-container{
  padding-bottom: 13px;
  position: relative;
  text-align: center;
  z-index: 15;
  min-height: 97px;
}

#emoticon-placeholder{
  display: inline-block;
}

.span1{
  min-width: 4.5em;
  color: rgba(142, 145, 142, 0.69);
  position: relative;
  margin-top: 13px;
  float: left;
  margin-left: 1.2em;
  min-height: 1px;
}

.span1:hover{
  -webkit-animation: pulse 2s;
  animation: pulse 2s;
}

.span1:active{
  -webkit-animation: bounceOut 2s;
  animation: bounceOut 2s;
}

.span1:focus{
  -webkit-animation: bounceOut 2s;
  animation: bounceOut 2s;
}

.sector{
  display: list-item;
  list-style: none;
  text-align: center;
}

.sector .bottom{
  margin-top: 6px;
  font-size: 12px;
}

.carouseller{
  background: #fff;
  margin: 50px 0px;
}

.carouseller .carouseller__left:hover{
  color: #fff;
  background-color: rgba(219, 121, 19, 0.86);
  border: 0px;
}

.carouseller .carouseller__right:hover{
  color: #fff;
  background-color: rgba(219, 121, 19, 0.86);
  border: 0px;
}

.car__3{
  background-color: white;
}

.car__3 img{
  width: 100%;
  height: 150px;
  background: #fff;
  background-position: center;
}

.caption-ar{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0);
  transition: all 0.25s ease;
}

.caption-ar .caption-content{
  width:80%;
  height: 150px;
  left: 10%;
  margin-top: -20px;
  top: 40%;
  visibility: hidden;
  position: absolute;
  text-align: center;
  transition: all 0.50s ease;
  transform: translateY(-100%);
  /*-webkit-transform: translateY(100%);*/
}

.caption-ar .caption-content a{
  background-color: rgba(128, 128, 128, 0.5);
  padding: 10px 10px 8px 10px;
  color: #fff;
  border: solid 1px #999;
  text-decoration: none;
  margin-bottom: 10px !important;
  display: inline-block;
  transition: all 0.25s ease;
}

.caption-ar .caption-content a i{
  margin-right: 10px;
}

.fa{
  display: inline-block;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  transform: translate(0,0);
}

.fadeInDown{
  animation-name: fadeInDown;
  -webkit-animation-name: fadeInDown;
}

.animated{
  -webkit-animation-duration: 1sl
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.gambarberita{
  width: 100%;
  height: auto;
}

.thumbnail{
  text-align: justify;
  margin-top: 10px;
}

. a{
  color: black;
  font-size: 14px;
  text-decoration: none;
}

.beritajudul a:hover{
  color: rgba(137, 132, 142, 0.7);
}



h3::after{
  width: 100px;
  height: 2px;
  display: block;
  background-color:  rgba(198, 117, 23, 0.83);
  content: "";
  margin: 0 auto;
  margin-top: 15px;
}

.features{
  margin-bottom: 82px;
}

.features h3{
  margin-top: 30px;
  margin-bottom: 30px;
}

.arranging{
  text-align: justify;
  margin-top: 10px;
}

.features span{
  margin-left: 3px;
}
nl
.features h4{
  margin-left: 40px;
}

.footer{
  background-color: black;
  padding-top: 30px;
  padding-bottom: 30px;
  color: white;
}

.glyphicon-chevron-up{
  background-color: rgba(198, 117, 23, 0.83);
  width: 60px;
  height: 40px;
  text-align: center;
  margin-top: -20px;
  border-radius: 20px;
  float: right;
}

.footer .glyphicon-chevron-up{
    font-size: 30px;
    color: white;
}

.navbar-custom{
  background: black;
}

.icon-bar{
  background: lightgray;
}

.navbar-custom .navbar-nav li a:hover{
  background: transparent;
}

.navbar-brand{
  color: rgba(198, 117, 23, 0.83);
}

.navbar-custom .navbar-nav li a{
  color: white;
  font-size: 18px;
  font-weight: 700;
}

.navbar-custom .navbar-nav li a:hover{
  color: rgba(198, 117, 23, 0.83);
  border-bottom: 2px solid rgba(198, 117, 23, 0.83);
  transition: all 0.5s ease-in;
  padding:  15px 0;
}

.navbar-brand:hover{
  color: rgba(198, 117, 23, 0.83);
}

.navbar-brand:visited{
  color: rgba(198, 117, 23, 0.83);
}

@media (max-width: 768px) {
  .footer .glyphicon-chevron-up{
  margin-top: -40px;
}}

@media (min-width: 768px){
  .navbar{
    border-radius: 0px;
  }
}

.tab{
  background: white;
  margin-bottom: 20px;
  width: auto;
}

.tab a{
  color:  rgba(198, 117, 23, 0.83);
  font-size: 14px;
  font-weight: bold;
}

.tab-pane{
  margin-bottom: 20px;
}

.nav-tabs li a:hover{
  border: 2px solid lightgray;
  transition: all 0.9s ease-in;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus,
 .nav-tabs>li.active>a:hover{
  background: rgba(198, 117, 23, 0.83);
  color: white;
}

.contact{
  margin-top: 50px;
  margin-bottom: 38px;
  padding: 10px 0px 20px;
  text-align: left;
  margin-left: -30px;
}

.judul{
    margin-left: 18px;
    font-size: 16px;
    font-weight: bold;
    width: 100%;
}

.contact p{
  padding-bottom: 15px;
  color: black;
}

.contact h4{
  margin-bottom: 20px;
  color: #4c4c4c;
  float: left;
}

.contact .input-group{
  margin-bottom: 25px;
  width: 100%;
}

.contact .form-control{
  border-radius: 0 !important;
}


.contact .span{
  border-radius: 0 !important;
}

.contact .btn{
  border-radius: 0;
  width: 200px;
  font-size: 15px;
  background-color: rgba(198, 117, 23, 0.83);
  color: #fff;
}

.contact .btn:hover{
  color: #fff !important;
  background-color: rgba(36, 203, 123, 0.8) !important;
}

s
