@import url(../plugins/vegas/vegas.css);

*{
  margin: 0;
  padding: 0;
}

body{
  font-family: 'tahoma';
  overflow-x: hidden;
  overflow-y: scroll;
}

.row{
  max-width: 1140px;
  margin: 0 auto;
}

.header img{
  background: none;
 margin-bottom: 40px;
 padding-top:  100px;
}

.header-buttons{
  color: white;
}

.footer{
  background-color: black;
  padding-top: 30px;
  padding-bottom: 30px;
  color: white;
}

.glyphicon-chevron-up{
  background-color: rgba(198, 117, 23, 0.83);
  width: 60px;
  height: 40px;
  text-align: center;
  margin-top: -20px;
  border-radius: 20px;
  float: right;
}

.footer .glyphicon-chevron-up{
    font-size: 30px;
    color: white;
}

.header img{
  margin-top: 1px;
}

.navbar{
  border-radius: 0px;
}

.navbar-fixed{
  position: static;
}

.navbar-custom{
  background: black;
}

.icon-bar{
  background: lightgray;
}

.navbar-custom .navbar-nav li a:hover{
  background: transparent;
}

.navbar-brand{
  color: white;
}

.navbar-custom .navbar-nav li a{
  color: white;
  font-size: 18px;
  font-weight: 700;
}

.navbar-custom .navbar-nav li a:hover{
  color: rgba(198, 117, 23, 0.83);
  border-bottom: 2px solid rgba(198, 117, 23, 0.83);
  transition: all 0.5s ease-in;
  padding:  15px 0;
}

.navbar-brand:hover{
  color: white;
}

.navbar-brand:visited{
  color: white;
}

@media (max-width: 768px) {

.glyphicon-chevron-up{
    margin-top: -40px;
}}

.contact{
  margin-top: 20px;
  margin-bottom: 38px;
  padding: 50px 0px 80px;
  text-align: center;
}

.contact p{
  padding-bottom: 35px;
  color: #737373;
}

.contact h2{
  color: #4c4c4c;
  margin: 20px 0 20px;
}

.contact .input-group{
  margin-bottom: 25px;
}

.contact .form-control{
  border-radius: 0 !important;
}

.contact .span{
  border-radius: 0 !important;
}

.contact .btn{
  border-radius: 0;
  width: 100%;
  font-size: 17px;
  background-color: rgba(198, 117, 23, 0.83);
  color: #fff;
}

.contact .btn:hover{
  color: #fff !important;
  background-color: rgba(36, 203, 123, 0.8) !important;
}
