*{
  margin: 0;
  padding: 0;
}

body{
  font-family: 'tahoma';
  overflow-x: hidden;
  overflow-y: scroll;
}

.row{
  max-width: 1140px;
  margin: 0 auto;
}

.footer{
  background-color: black;
  margin-top: 130px;
  padding-top: 30px;
  padding-bottom: 30px;
  color: white;
}

.glyphicon-chevron-up{
  background-color: rgba(198, 117, 23, 0.83);
  width: 60px;
  height: 40px;
  text-align: center;
  margin-top: -20px;
  border-radius: 20px;
  float: right;
}

.footer .glyphicon-chevron-up{
    font-size: 30px;
    color: white;
}

.header img{
  margin-top: 1px;
}


.navbar{
  border-radius: 0px;
}

.navbar-fixed{
  position: static;
}

.navbar-custom{
  background: black;
}

.icon-bar{
  background: lightgray;
}

.navbar-custom .navbar-nav li a:hover{
  background: transparent;
}

.navbar-brand{
  color: white;
}

.navbar-custom .navbar-nav li a{
  color: white;
  font-size: 18px;
  font-weight: 700;
}

.navbar-custom .navbar-nav li a:hover{
  color: rgba(198, 117, 23, 0.83);
  border-bottom: 2px solid rgba(198, 117, 23, 0.83);
  transition: all 0.5s ease-in;
  padding:  15px 0;
}

.navbar-brand:hover{
  color: white;
}

.navbar-brand:visited{
  color: white;
}

article#main-col{
  float:left;
  width:65%;
}

.dark{
  padding:15px;
  background:#35424a;
  color:#ffffff;
  margin-top:10px;
  margin-bottom:10px;
}

aside#sidebar{
  float:right;
  width:30%;
  margin-top:10px;
}

.about{
  background: lightgray;
  margin-top:100px;
  margin-bottom: 70px;
}

@media (max-width: 768px) {
  article#main-col,
  aside#sidebar{
    float:none;
    text-align:center;
    width:100%;
}

.glyphicon-chevron-up{
    margin-top: -40px;
}}
